@using LeagueOfLegendsLibrary.Contracts;
@using LeagueOfLegendsLibrary.Services;
@model List<LeagueCharacter>
@{
    ViewData["Title"] = "LeagueCharacters";
   
}

<h1> Here we will show our League Of Legends Characters!!! </h1>
<p>Use this page to detail your site's privacy policy.</p>

<div class="d-flex me-2">
    @foreach (var ch in Model)
    {
        <div class="card me-3" style="width: 18rem;">
            <img src="@ch.MainIMageURL" class="card-img-top" alt="picture-main">
            <div class="card-body">
                <h5 class="card-title">@ch.Name</h5>
                <p class="card-text">@ch.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Dammage: @ch.Dammage atk</li>
                <li class="list-group-item">Gender: @(ch.Gender==true?"Male":"Female")</li>
                <li class="list-group-item">Fraction: @ch.Fraction</li>
                <li class="list-group-item">Region: @ch.Region</li>
            </ul>
        
        </div>
    }
</div>